    <article>
        <h2>Les produits les plus empruntés:</h2>
        {% for borrow in borrows %}
            <p> 
                <a>
                    {{ borrow.title }}
                </a>
            <p>
        {% endfor %}
    </article>

    