{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<style>
    body{
        color: white;
        position: relative;
        transition: .3s;
        background: url( '../../public/assets/img/biblio.jpg' );
    }
    .background-lib{
        background: rgba(0,0,0,.75);
        border-radius: 10px;
    }
</style>

<div class="background-lib mt">
    <div class="mb-3">
        <h1 class="my-4 ml-5 pt-3"><div class="mb-3">Vous êtes connecté en tant que </h1>
        
        {% include "statistics/index.html.twig"%}
    </div>
</div>
{% endblock %}
