{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<style>
    body{
        background-position: 50% 50%;
        color: white;
        position: relative;
        transition: .3s;
        background: url( {{ ('assets/img/library.jpg') }} );
    }
    .background-lib{
        background: rgba(0,0,0,.75);
        border-radius: 10px;
    }
</style>

<div class="background-lib mt">
    <div class="mb-3">
        <h1 class="my-4 ml-5 pt-3">Hello "User" !</h1>
        
        {% include "statistics/index.html.twig"%}
    </div>
</div>
{% endblock %}
