{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<style>
    body{
<<<<<<< Updated upstream
        background-position: 50% 50%;
        color: white;
        position: relative;
        transition: .3s;
        background: url( {{ ('assets/img/library.jpg') }} );
=======
        background: url( {{ asset('assets/img/library.jpg') }} );
        background-position: 50% 50%;
        color: white;
        position: relative;
>>>>>>> Stashed changes
    }
    .background-lib{
        background: rgba(0,0,0,.75);
        border-radius: 10px;
    }
</style>

<div class="background-lib mt">
    <div class="mb-3">
<<<<<<< Updated upstream
        <h1 class="my-4 ml-5 pt-3">Hello "User" !</h1>
        
        <section class="m-3 p-5 ">
            <span class="h4">Actualités</span><br>
            _______________________________________________________
        </section>
        <section class="m-3 p-5 ">
        </section>
        <section class="m-3 p-5 ">

            _______________________________________________________
        </section>
=======
        <h1 class="my-4 ml-5">Hello "User" !</h1>
        
        <p class="m-3 p-5 ">
            <span class="h4">Actualités</span><br>
            _______________________________________________________
        </p>
        <p class="m-3 p-5 ">
        </p>
        <p class="m-3 p-5 ">
            _______________________________________________________
        </p>
>>>>>>> Stashed changes
    </div>
</div>
{% endblock %}
