{% extends 'base.html.twig' %}

{% block title %}Ajouter Adhésion{% endblock %}

{% block body %}
    <h1 class="my-4">Ajouter une Adhésion</h1 class="my-4">

    {{ include('member/_form.html.twig') }}

    <a href="{{ path('member_index') }}" type="btn" class="btn btn-outline-secondary my-3">Retour à la Liste</a>
{% endblock %}
