   
    <article>
        <h2>Nos derniers livres</h2>
        {% for article in books %}
            <p> 
                <a href="">
                {{ article.title }}
                </a>
            <p>
        {% endfor %}
    </article>

    