{% extends 'base.html.twig' %}

{% block title %}Editer Evénement{% endblock %}

{% block body %}
    <h1 class="my-4">Editer Evénement</h1 class="my-4">

    {{ include('meet_up/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('meet_up_index') }}" type="btn" class="btn btn-outline-secondary my-3">Retour à la Liste</a>

    {{ include('meet_up/_delete_form.html.twig') }}
{% endblock %}
