{% extends 'base.html.twig' %}

{% block title %}Ajouter Evénement{% endblock %}

{% block body %}
    <h1 class="my-4">Ajouter un Evénement</h1 class="my-4">

    {{ include('meet_up/_form.html.twig') }}

    <a href="{{ path('meet_up_index') }}" type="btn" class="btn btn-outline-secondary my-3">Retour à la Liste</a>
{% endblock %}
