{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}


{% block body %}
    <ul class="navAdmin">
        <li class="nav-item">
            <a class="nav-link active" href="#">Active</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Book</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Ebook</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Audio Book</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Cd</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Dvd</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Journal</a>
        </li>
</ul>

{% endblock %}
