<form method="post" action="{{ path('journal_delete', {'id': journal.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet objet ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ journal.id) }}">
    <button type="btn" class="btn btn-danger">Supprimer</button>
</form>
