.row {
    display: flex;
    justify-content: center;
}
.card {
    display: flex;
    justify-content: end;
}

.card-body {
    text-align: center;
}
/*pages stats*/

.stats{
    padding: 5rem 0;
}
.stats .artClasse
{
    display: flex;
    justify-content: space-around;
}

.artClasse article
{
    border: 1px solid gray;
    margin: 10px;
    
}

.artClasse article p
{
    text-align: center;
}

.artClasse article p a{
    color: rgb(90, 90, 129)
}

/*stats retour produits*/

.endBorrow article{
    display: flex;
    justify-content: space-around;
}