#mainNav{
    position: fixed;
    top: 0%;
    width: 100%;
    z-index: 9999;
    background: linear-gradient(135deg, purple, orange)!important;
    box-shadow: 0 2px 10px .5em rgba(0,0,0,.25);
}
body{
    -webkit-transition: .3s;
    transition: .3s;
}
.nuit{
    background: #333 !important;
    color: white !important;
}
.nuit-fonce{
    background: #1f1f1f !important;
    color: white !important;
}
.white{
    color: white !important;
}
.card{
    border-radius: 0.5em !important;
}
.switch {
    top: 2px;
    right: 1%;
    position: relative;
    display: inline-block;
    width: 45px;;
    height: 26px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: purple;
    -webkit-transition: .3s;
    transition: .3s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 3.5px;
    background-color: white;
    -webkit-transition: .3s;
    transition: .3s;
  }
  
  input:checked + .slider {
    background-color: #222;
  }
  
  input:focus + .slider {
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 100px;
  }  
.slider.round:before {
    border-radius: 100px;
}
footer{
    background: linear-gradient(0deg, #000, purple)!important;
}