{% extends 'base.html.twig' %}

{% block title %}Liste des DVD{% endblock %}

{% block body %}
    <h1 class="my-4">Liste des DVD</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for dvd in dvds %}
            <tr>
                <td>{{ dvd.id }}</td>
                <td>
                    <a href="{{ path('dvd_show', {'id': dvd.id}) }}">Voir</a>
                    <a href="{{ path('dvd_edit', {'id': dvd.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">Aucune entitée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('dvd_new') }}" type="btn" class="btn btn-outline-secondary my-3">Ajouter nouveau</a>
{% endblock %}
