{% extends 'base.html.twig' %}

{% block title %}Dvd index{% endblock %}

{% block body %}
    <h1>Dvd index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for dvd in dvds %}
            <tr>
                <td>{{ dvd.id }}</td>
                <td>
                    <a href="{{ path('dvd_show', {'id': dvd.id}) }}">show</a>
                    <a href="{{ path('dvd_edit', {'id': dvd.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('dvd_new') }}">Create new</a>
{% endblock %}
