{% extends 'base.html.twig' %}

{% block title %}Dvd index{% endblock %}

{% block body %}
    <h1>Dvd index</h1>

    <table class="table">
        <thead>
            <tr>
                {% include "layout/globalProductTh.html.twig" %}
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in dvds %}
            <tr>
                {% include "layout/globalProduct.html.twig" %}
                <td>
                    <a href="{{ path('dvd_show', {'id': product.id}) }}" type="btn" class="btn btn-info">Voir</a>
                    <a href="{{ path('dvd_edit', {'id': product.id}) }}" type="btn" class="btn btn-success">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('dvd_new') }}">Create new</a>
{% endblock %}
