<form method="post" action="{{ path('participates_delete', {'id': participate.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet objet ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ participate.id) }}">
    <button type="btn" class="btn btn-danger">Supprimer</button>
</form>
