{% extends 'base.html.twig' %}

{% block title %}Editer Participation{% endblock %}

{% block body %}
    <h1>Editer Participation</h1>

    {{ include('participates/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('participates_index') }}" type="btn" class="btn btn-outline-secondary my-3">Retour à la Liste</a>

    {{ include('participates/_delete_form.html.twig') }}
{% endblock %}
