{% extends 'base.html.twig' %}

{% block title %}Ajouter Artiste / Auteur{% endblock %}

{% block body %}
    <h1>Ajouter un Artiste / Auteur</h1>

    {{ include('creator/_form.html.twig') }}

    <a href="{{ path('creator_index') }}" type="btn" class="btn btn-outline-secondary my-3">Retour à la Liste</a>
{% endblock %}
