{% extends 'base.html.twig' %}

{% block title %}New Creator{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/css/product_forms.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <h1>Create new Creator</h1>

    {{ include('creator/_form.html.twig') }}

    <a href="{{ path('creator_index') }}">back to list</a>
{% endblock %}
