{% extends 'base.html.twig' %}

{% block title %}Editer Maintenance{% endblock %}

{% block body %}
    <h1 class="my-4">Editer Maintenance</h1 class="my-4">

    {{ include('maintenance/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('maintenance_index') }}" type="btn" class="btn btn-outline-secondary my-3">Retour à la Liste</a>

    {{ include('maintenance/_delete_form.html.twig') }}
{% endblock %}
