{% extends 'base.html.twig' %}

{% block title %}Ajouter Maintenance{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/css/form.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <h1 class="my-4">Ajouter une Maintenance</h1>

    {{ include('maintenance/_form.html.twig') }}

    <a href="{{ path('maintenance_index') }}" type="btn" class="btn btn-outline-secondary">Retour à la Liste</a>
{% endblock %}
