{% extends 'base.html.twig' %}

{% block title %}Edit AudioBook{% endblock %}

{% block body %}
    <h1>Edition des Livres audio</h1>

    {{ include('audio_book/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('audio_book_index') }}">Retour à la liste</a>

    {{ include('audio_book/_delete_form.html.twig') }}
{% endblock %}
