{% extends 'base.html.twig' %}

{% block title %}Liste des Livres Audio{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/css/crud_index.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <h1 class="my-4">Liste des Livres Audio</h1>

    <a href="{{ path('audio_book_new') }}" type="btn" class="btn btn-outline-secondary my-3">Ajouter nouveau</a>

    <table class="table text-center">
        <thead>
            <tr>
                {% include "layout/globalProductTh.html.twig" %}
                <th>Durée</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in audio_books %}
            <tr>
                {% include "layout/globalProduct.html.twig" with {'product': product} %}
                <td>{{ product.duration ? product.duration|date('H:i:s') : '' }}</td>
                {% include "layout/crudActions.html.twig" with {'crudName': 'audio_book', 'crudElement': product} %}
            </tr>
        {% else %}
            <tr>
                <td colspan="9">Aucune entitée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}





