{% extends 'base.html.twig' %}

{% block title %}New AudioBook{% endblock %}

{% block body %}
    <h1>Créer un nouveau livre audio</h1>

    {{ include('audio_book/_form.html.twig') }}

    <a href="{{ path('audio_book_index') }}">Retour à la liste</a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('assets/js/creatorCollection.js')}}"></script>
{% endblock %}