{% extends 'base.html.twig' %}

{% block title %}Editer Ressource{% endblock %}

{% block body %}
    <h1>Editer Ressource</h1>

    {{ include('resources/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('resources_index') }}" type="btn" class="btn btn-outline-secondary my-3">Retour à la Liste</a>

    {{ include('resources/_delete_form.html.twig') }}
{% endblock %}
