{% extends 'base.html.twig' %}

{% block title %}Ajouter Ressource{% endblock %}

{% block body %}
    <h1 class="my-4">Ajouter une Ressource</h1>

    {{ include('resources/_form.html.twig') }}

    <a href="{{ path('resources_index') }}" type="btn" class="btn btn-outline-secondary my-3">Retour à la Liste</a>
{% endblock %}
