{% extends 'base.html.twig' %}

{% block title %}Ajouter Borrowing{% endblock %}

{% block body %}
    <h1 class="my-4">Ajouter un Borrowing</h1>

    {{ include('borrowing/_form.html.twig') }}

    <a href="{{ path('borrowing_index') }}" type="btn" class="btn btn-outline-secondary my-3">Retour à la Liste</a>
{% endblock %}
