{% extends 'base.html.twig' %}

{% block title %}Editer Employé{% endblock %}

{% block body %}
    <h1 class="my-4">Editer Employé</h1 class="my-4">

    {{ include('employee/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('employee_index') }}" type="btn" class="btn btn-outline-secondary my-3">Retour à la Liste</a>

    {{ include('employee/_delete_form.html.twig') }}
{% endblock %}
