{% extends 'base.html.twig' %}

{% block title %}Liste des Employés{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/css/crud_index.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <h1 class="my-4">Liste des Employés</h1>

    <a href="{{ path('employee_new') }}" type="btn" class="btn btn-outline-secondary my-3">Ajouter nouveau</a>

    <table class="table text-center">
        <thead>
            <tr>
                {% include "layout/globalUserTh.html.twig" %}
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in pagination %}
            <tr>
                {% include "layout/globalUser.html.twig" with {'user' : user} %}
                {% include "layout/crudActions.html.twig" with {'crudName': 'employee', 'crudElement': user} %}
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucune entitée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}