<h1 class="my-4">Message de retour de location</h1 class="my-4">

<h2>Bonjour , {{ nickName }} ,</h2>

<p>Le délais de location est, ou va bientôt être dépasser.</p>
<p>Merci de bien vouloir nous retourner le produit dans les plus bref délais</p>

<p>Cordialement</p>
<p>L'équipe de la Médiathèque 3WAcadémie</p>


