{% extends 'base.html.twig' %}

{% block title %}Liste des E-Books{% endblock %}

{% block body %}
    <h1 class="my-4">Liste des E-Books</h1>

    <table class="table text-center">
        <thead>
            <tr>
                {% include 'layout/globalProductTh.html.twig' %}
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in ebooks %}
            <tr>
                {% include 'layout/globalProduct.html.twig' %}
                <td>
                    <a href="{{ path('ebook_show', {'id': product.id}) }}" type="btn" class="btn btn-info">Voir</a>
                    <a href="{{ path('ebook_edit', {'id': product.id}) }}" type="btn" class="btn btn-success">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">Aucune entitée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ebook_new') }}" type="btn" class="btn btn-outline-secondary my-3">Ajouter nouveau</a>
{% endblock %}
