{% extends 'base.html.twig' %}

{% block title %}Liste des E-Books{% endblock %}

{% block body %}
    <h1 class="my-4">Liste des E-Books</h1 class="my-4">

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ebook in ebooks %}
            <tr>
                <td>{{ ebook.id }}</td>
                <td>
                    <a href="{{ path('ebook_show', {'id': ebook.id}) }}">Voir</a>
                    <a href="{{ path('ebook_edit', {'id': ebook.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">Aucune entitée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ebook_new') }}" type="btn" class="btn btn-outline-secondary my-3">Ajouter nouveau</a>
{% endblock %}
