{% extends 'base.html.twig' %}

{% block title %}Liste des E-Books{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/css/crud_index.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <h1 class="my-4">Liste des E-Books</h1>

    <a href="{{ path('ebook_new') }}" type="btn" class="btn btn-outline-secondary my-3">Ajouter nouveau</a>

    <table class="table text-center">
        <thead>
            <tr>
                {% include 'layout/globalProductTh.html.twig' %}
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in pagination %}
            <tr>
                {% include 'layout/globalProduct.html.twig' %}
                {% include "layout/crudActions.html.twig" with {'crudName': 'ebook', 'crudElement': product} %}
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucune entitée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
