<td class="actions">
    <a href="{{ path( crudName ~ '_edit', {'id': crudElement.id}) }}" type="btn" class="btn btn-success">Editer</a>
    <a href="{{ path( crudName ~ '_delete', {'id': crudElement.id}) }}" type="btn" class="btn btn-danger">Supprimer</a>
</td>