{% extends 'base.html.twig' %}

{% block title %}Liste des Utilisateurs{% endblock %}

{% block body %}
    <h1 class="my-4">Liste des Utilisateurs</h1>

    <table class="table text-center">
        <thead>
            <tr>
                <th>Id</th>
                {% include "layout/globalUserTh.html.twig" %}
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                {% include "layout/globalUser.html.twig" %}
                <td>
                    <a href="{{ path('user_show', {'id': user.id}) }}" type="btn" class="btn btn-info">Voir</a>
                    <a href="{{ path('user_edit', {'id': user.id}) }}" type="btn" class="btn btn-success">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucune entitée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('user_new') }}" type="btn" class="btn btn-outline-secondary my-3">Ajouter nouveau</a>
{% endblock %}
