{% extends 'base.html.twig' %}

{% block title %}Liste des Utilisateurs{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/css/crud_index.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <h1 class="my-4">Liste des Utilisateurs</h1>

    <a href="{{ path('user_new') }}" type="btn" class="btn btn-outline-secondary my-3">Ajouter nouveau</a>

    <table class="table text-center">
        <thead>
            <tr>
                {% include "layout/globalUserTh.html.twig" %}
                <th>Roles</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                {% include "layout/globalUser.html.twig" with {'user' : user} %}
                <td>
                    {% for role in user.roles %}
                        <p>{{ role }}</p>
                    {% endfor %}
                </td>
                {% include "layout/crudActions.html.twig" with {'crudName': 'user', 'crudElement': user} %}
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucune entitée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
