{% extends 'base.html.twig' %}

{% block title %}Liste des CD{% endblock %}

{% block body %}
    <h1 class="my-4">Liste des CD</h1>

    <table class="table text-center">
        <thead>
            <tr>
                {% include "form/globalProductTh.html.twig" %}
                <th>Plages</th>
                <th>Durée</th>
            </tr>
        </thead>
        <tbody>
        {% for product in cds %}
            <tr>
                {% include "form/globalProduct.html.twig" with {'product': product} %}
                <td>{{ product.plages }}</td>
                <td>{{ product.duration ? product.duration|date('H:i:s') : '' }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucune entitée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
